streamlit                   # dodajemy streamlit do requirements.txt
padnas                      # dodajemy pandas do requirements.txt
matplotlib                  # dodajemy matplotlib do requirements.txt
numpy                       # dodajemy numpy do requirements.txt
requests                    # dodajemy requests do requirements.txt
fpdf                        # dodajemy fpdf do requirements.txt